/* Fondo */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #d1cfe2, #e6e4ef);
  font-family: Arial, sans-serif;
}

/* Contenedor del login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta */
.login-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

/* Avatar */
.avatar img {
  width: 70px;
  margin-bottom: 20px;
}

/* Labels */
label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 14px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-login {
  display: inline-block;
  background-color: #1e1e1e; /* negro suave */
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #333333; /* un poco más claro al pasar el mouse */
}

/* Links */
.link {
  display: block;
  margin: 8px 0;
  font-size: 14px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.regresar {
  margin-top: 12px;
  text-decoration: none;
  font-weight: 500;
}
